.cart-total {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
    color: #46443c;
    font-size: 1.15rem;
    font-weight: bold;
}

.cart h2 {
    margin: 1rem 0;
}

.cart ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
}